@import "./fonts/fonts.css";

:root {
  --c-main: #101828;
  --c-gray: #8e929a;
  --c-gray-light: #dadde1;
  --c-badges: #f2f4f7;
  --c-inputs: #f7f7f7;
  --c-white: #ffffff;
  --c-button: #3470ff;
  --c-button-hover: #0b44cd;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--c-main);
}

input {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  outline: 1px solid transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.select__control {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--c-main);
  border-radius: 12px !important;
  width: 204px;
  height: 44px;
  background-color: var(--c-inputs) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  align-items: center !important;
}
.select__placeholder {
  color: var(--c-main) !important;
}
.select__menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--c-gray);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02) !important;
  background: var(--c-white) !important;
  border: 1px solid var(--c-inputs) !important;
  border-radius: 12px !important;
  overflow: hidden;
}
.select__menu-list {
  max-height: 272px !important;
  padding: 12px 0 !important;
}
.select__menu-list::-webkit-scrollbar-button {
  display: none !important;
}
.select__value-container {
  padding-left: 16px !important;
}
.select__indicators {
  padding-right: 6px !important;
}
.select__option {
  border-radius: 8px;
  padding: 4px 12px !important;
}
.select__option--is-selected {
  background-color: transparent !important;
  color: var(--c-main) !important;
}
.select__option--is-focused {
  color: var(--c-button) !important;
  background-color: transparent !important;
}
.select__menu-list::-webkit-scrollbar {
  width: 24px;
  height: 12px;
}
.select__menu-list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.select__menu-list::-webkit-scrollbar-thumb {
  background-color: var(--c-gray);
  border-radius: 20px;
  border: 8px solid var(--c-white);
}
.select__menu-list::-webkit-scrollbar-thumb:hover {
  background-color: #626569;
}
.select__menu-list::-webkit-scrollbar-button {
  display: none !important;
}
